.colorPallet {
  color: #ca6b48;
  color: #483c37;
  color: #949586;
  color: #d4c99b;
  color: #ccccc5;
  color: #eeeeed;
  color: #f7f7f7;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
}


header {
  height: 100vh;
}

.flexContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}
