section.about {
  height: 100vh;

  h2 {
    text-align: center;
  }
}

.split {
  display: flex;
}

.aboutMe {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mySkills {
  width: 50%;
  background: red;
}
