section.about {
  min-height: 100vh;
  position: relative;
  background: $primaryBackgroundGrey;

  h2 {
    text-align: center;
    padding: 50px 0 30px 0;
  }
}

.split {
  display: flex;
}

.about-me {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .imageContainer {
    width: 300px;
    height: 400px;
    perspective: 800px;
    transform-style: preserve-3d;
  }

  .front-image {
    z-index: 5;
  }

  .front-image,
  .back-image {
    border-radius: 10px;

    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    // This means that when it is flipped over, we don't see the back
    backface-visibility: hidden;
  }

  .back-image {
    transform: rotateY(180deg);
  }

  .imageContainer:hover .back-image {
    transform: rotateY(0);
  }

  .imageContainer:hover .front-image {
    transform: rotateY(-180deg);
    z-index: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-skills {
  h3 {
    text-align: center;
    margin: 10px 0;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li {
      margin: 5px 0;
      border: 1px solid $primaryBlack;
      padding: 20px;
      border-radius: 50%;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      transition: all 0.3s linear;
    }

    li:hover {
      -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
      filter: grayscale(0);
      transition: all 0.3s linear;
    }

    img {
      width: 80px;
      height: 80px;
    }
  }
}
