section.about {
  height: 100vh;

  h2 {
    text-align: center;
    padding-top: 30px;
  }
}

.split {
  display: flex;
}

.about-me {
  width: 50%;

  .imageContainer {
    width: 500px;
    height: 667px;
    position: relative;
    perspective: 800px;

    /*important for how "in yo face" the flip is. The lower the value, the closer you will view the transform" */
    /*transform-style: preserve-3d;*/
  }

  .front-image {
    z-index: 5;
  }

  .front-image,
  .back-image {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    // This means that when it is flipped over, we don't see the back
    backface-visibility: hidden;
  }

  .back-image {
    /*By Default set the back to be rotate */
    transform: rotateY(180deg);
  }

  .imageContainer:hover .back-image {
    transform: rotateY(0);
  }

  .imageContainer:hover .front-image {
    transform: rotateY(-180deg);
    z-index: 0;
  }
}

.my-skills {
  width: 50%;
  background: red;
}
