@include mq($max-width: 1024px) {
  html,
  body {
    font-size: 16px;
  }
}

@include mq($max-width: 414px) {
    html,
    body {
      font-size: 14px;
    }
  }

  
@include mq($max-width: 1024px) {
    // desktop nav
    nav.desktop-nav {
      display: none;
    }
    
    // hamburger nav
    nav.hamburger-nav {
      display: block;
    }
  }
  