header {
  height: 100vh;
  background: url(../assets/header.jpg) no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;

  .header-content {
    padding-top: 30vh;
  }
}

@include mq($max-width: 650px) {
  header {
    .header-content {
      padding-top: 10vh;
      position: relative;
    }

    h1,
    h2 {
      background: rgba($primaryBackgroundGrey, 0.5);
      padding: 0 10px;
    }
  }
}

@include mq($max-width: 414px) {
  header {
    background-position: right;
  }
}
