header {
  height: 100vh;
  background: url(../assets/borna-bevanda-w12NAMymqnk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  padding-top: 30vh;
}
