// desktop nav
nav.desktop-nav {
  padding: 20px 0;
  background: $primaryWhite;

  h2 {
    line-height: 0;
  }

  .flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: $primaryBlack;
    line-height: 29px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;

    &:hover {
      color: $primaryYellow;
      transition: all 250ms ease-in-out, transform 150ms ease;
    }
  }

  ul {
    display: flex;
  }

  li {
    margin: 0 20px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 2px;
      bottom: -4px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 50%;

      /* optional animation */
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }

    &:hover:after {
      width: 80%;
      background: $primaryYellow;
    }
  }
}

// hamburger nav
nav.hamburger-nav {
  display: none;
  position: fixed;
  right: 100px;
  top: 100px;
}

.menuToggle {
  position: absolute;
  top: -50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

  a {
    color: $primaryBlack;
    transition: color 0.3s ease;
  }

  a:hover {
    color: $primaryYellow;
  }

  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -10px;
    left: -10px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  input:checked ~ ul {
    transform: none;
  }

  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: $primaryBlack;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  span:first-child {
    transform-origin: 0% 0%;
  }

  span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .menu {
    position: absolute;
    top: -50px;
    left: -200px;
    width: 300px;
    padding: 50px;
    padding-top: 125px;
    height: 100vh;

    background: $primaryWhite;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    li {
      padding: 10px 0;
      font-size: 22px;
    }
  }
}
