section.projects {
  padding-bottom: 100px;
  position: relative;

  h2 {
    text-align: center;
    padding: 50px 0;
  }

  ul li {
    display: flex;
    margin-bottom: 80px;
  }

  li:nth-of-type(2n) {
    display: flex;
    flex-direction: row-reverse;
  }

  .image-container,
  .content-container {
    margin: 0 20px;
    width: calc(50% - 40px);
    .external-link {
      margin-top: 20px;
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    * {
      margin: 5px;
    }
  }

  .inverted {
    text-align: right;
  }

  .show-hide {
    display: block;
    margin: 0 auto 25px auto;
  }
  .arrows {
    left: initial;
    right: 50px;
    bottom: 100px;
  }
}

@include mq($max-width: 1024px) {
  section.projects {
    .image-container {
      padding-top: 20px;
    }
  }
}

@include mq($max-width: 850px) {
  section.projects {
    ul li {
      flex-direction: column;
      text-align: center;
      margin-bottom: 40px;
    }

    li:nth-of-type(2n) {
      display: block;
    }

    .inverted {
      text-align: center;
    }

    .image-container,
    .content-container {
      margin: 0;
      width: 100%;
    }
  }
}
