section.projects {
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;

  h2 {
    text-align: center;
    padding: 50px 0;
  }

  ul li {
    display: flex;
    margin-bottom: 80px;
  }

  li:nth-of-type(2n) {
    display: flex;
    flex-direction: row-reverse;
  }

  .imageContainer,
  .contentContainer {
    margin: 0 10px;
    width: calc(50% - 40px);
    .external-link {
      margin-top: 20px;
    }
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    * {
      margin: 5px;
    }
  }

  .inverted {
    text-align: right;
  }
}

@include mq($max-width: 1024px) {
  section.projects {
    .imageContainer {
      padding-top: 20px;
    }
  }
}

@include mq($max-width: 850px) {
  section.projects {
    ul li {
      flex-direction: column;
      text-align: center;
    }

    li:nth-of-type(2n) {
      display: block;
    }

    .inverted {
      text-align: center;
    }

    .imageContainer,
    .contentContainer {
      width: 100%;
    }
  }
}
