// variables

// font colours
$primaryBrown: #a47b5b;
$primaryDarkBrown: #625146;
$primaryDarkGrey: #afa9aa;
$primaryBlack: #0f0f0f;
$primaryWhite: #ffffff;

// background colors
$primaryBackgroundBlack: #171b0e;
$primaryBackgroundGrey: #e8e8e8;

// mixins
// Centering
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin primaryBackgroundGradient {
  background: rgb(137, 123, 120);
  background: linear-gradient(
    100deg,
    rgba(137, 123, 120, 1) 0%,
    rgba(175, 170, 167, 1) 70%
  );
}

@mixin boxShadow {
  box-shadow: 0 0 30px #dbd6d3, 0 0 10px #050401;
}

// font sizes turn into rem values
@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue/10) * 1rem / 2;
}

// media queries
@mixin mq($args...) {
  $media-type: "only screen";
  $media-type-key: "media-type";
  $args: keywords($args);
  $expr: "";

  @if map-has-key($args, $media-type-key) {
    $media-type: map-get($args, $media-type-key);
    $args: map-remove($args, $media-type-key);
  }

  @each $key, $value in $args {
    @if $value {
      $expr: "#{$expr} and (#{$key}: #{$value})";
    }
  }

  @media #{$media-type} #{$expr} {
    @content;
  }
}
